.CodeMirror {
    /* height: 340px ; */
    color: #fff;
    min-height : 44vh !important;
}

.CodeMirror-gutters {
    background: #1d1e22 !important;
}

.CodeMirror-scroll {
    background: #1d1e22;
}