.ide_editor {
  /* height: 44vh; */
  overflow: scroll;
}

.result {
  position: fixed;
  z-index: 1;
}
.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}
